@model IEnumerable<KlangIT_V3.Models.ItemModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>ลำดับ</th>
            <th>
                <a asp-action="Index"
                       asp-route-sortOrder="@ViewBag.SortByBrand">
                    ยี่ห้อ
                </a>
            </th>
            <th>
                <a asp-action="Index"
                       asp-route-sortOrder="@ViewBag.SortByName">
                    รุ่น
                </a>
            </th>
            <th>
                <a asp-action="Index"
                       asp-route-sortOrder="@ViewBag.SortByModDate">
                    เวลาแก้ไขล่าสุด
                </a>
            </th>
        </tr>
    </thead>
    <tbody>

        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemBrand.Name)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
