@model KlangIT_V3.Models.Department

@{
    ViewData["Title"] = "รายละเอียด ฝ่าย/กลุ่มงาน";
}

<h1>รายละเอียด ฝ่าย/กลุ่มงาน</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 mb-4 py-2">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class="col-sm-10 mb-4 py-2">@Html.DisplayFor(model => model.Name)</dd>
        <dt class="col-sm-2 mb-4 py-2">@Html.DisplayNameFor(model => model.CreatedDate)</dt>
        <dd class="col-sm-10 mb-4 py-2">@Html.DisplayFor(model => model.CreatedDate)</dd>
        <dt class="col-sm-2 mb-4 py-2">@Html.DisplayNameFor(model => model.ModifiedDate)</dt>
        <dd class="col-sm-10 mb-4 py-2">@Html.DisplayFor(model => model.ModifiedDate)</dd>
        <dt class="col-sm-2 mb-4 py-2">@Html.DisplayNameFor(model => model.CreatedBy)</dt>
        <dd class="col-sm-10 mb-4 py-2">@Html.DisplayFor(model => model.CreatedBy)</dd>
        <dt class="col-sm-2 mb-4 py-2">@Html.DisplayNameFor(model => model.ModifiedBy)</dt>
        <dd class="col-sm-10 mb-4 py-2">@Html.DisplayFor(model => model.ModifiedBy)</dd>
    </dl>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">แก้ไข</a>
    <a asp-action="Index" class="btn btn-outline-secondary ms-2">กลับรายการ</a>
</div>
